<%- include ('../../partials/header.ejs') %> <%- include
('../../partials/navbar.ejs') %>

<div class="container col col-12">
  <br />
  <div class="card">
    <div class="card-header">
      <h2>Novo artigo</h2>
    </div>
    <div class="card-body">
      <form method="POST" action="/articles/save">
        <label for="">Nome do artigo</label>
        <input
          type="text"
          name="title"
          placeholder="Título do artigo"
          class="form-control"
        />
        <br />
        <label for="">Categoria do artigo</label>
        <select name="category" class="form-control">
          <% categories.forEach((category) => { %>
          <option value="<%= category.id %>"><%= category.title %></option>
          <% }) %>
        </select>
        <br />
        <label for="">Corpo do artigo</label>
        <textarea
          id="article"
          rows="25"
          name="body"
          class="form-control"
          placeholder="Escreva o artigo"
        ></textarea>

        <br />
        <button class="btn btn-success">Cadastrar</button>
      </form>
    </div>
  </div>
</div>

<%- include ('../../partials/footer.ejs') %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
  tinymce.init({
    language: "pt_BR",
    selector: "#article",
    plugins: [
      "advlist autolink link image lists print preview hr table paste emoticons searchreplace wordcount fullscreen insertdatetime media save",
    ],
  });
</script>
