<%- include ('partials/header.ejs') %> <%- include ('partials/homenavbar.ejs')
%>

<div class="container col col-12">
  <br />
  <div class="jumbotron">
    <h1 class="display-4">Bem Vindo</h1>
    <p class="lead">
      Este é um simples sistema criado em NodeJS para aprimoramento de
      conhecimento da tecnologia. A ideia foi criar um sistema para Wiki.
    </p>
    <hr class="my-4" />
    <p>
      Não sou bom em criar layouts, como o foto é a tecnologia NodeJS, criei um
      layout com bootstrap básico.
    </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
  <hr />
  <% articles.forEach(article => { %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">
        <%= article.title %>
      </p>
      <a href="/<%= article.slug %>" class="btn btn-success">Ler Artigo</a>
    </div>
  </div>
  <br />
  <% }) %>

  <div class="row">
    <div class="col col-12">
      <a style="float: right;" href="/articles/page/">Next >></a>
    </div>
  </div>
  <br />
</div>

<%- include ('partials/footer.ejs') %>
